In [34]:
#PROBLME1: Unique Words in a Sentence
sentence=input("Enter Sentence: ")
#Takes a sentence as input from the user
s1=sentence.lower()
#Converts the sentence to lowercase so that words like "Python " and "python" are treated same
words=sentence.split()
#Splits the sentence into a list of indivisual words based on spaces
unique_words=set(words)
#Converts the list of words into a set to remove duplicate words
print("Unique words count:",len(unique_words))
#Prints the total number of unique words
print("Unique words:",unique_words)
#Prints the set of unique words

Enter Sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'easy', 'and', 'is', 'python', 'powerful'}

In [35]:
#PROBLEM2: Highest Salary from Employee Data
employees={"Ravi": 75000,"Anitha": 68000,"Kiran":7200}
#Dictionary storing employee names as keys and their salaries as values 
highest_salary=0
#Variableto keep track of the highest salary found so far
highest_employee=""
#Variable to store the name of the employee with the highest salary
for name,salary in employees.items():
    #Loop through the dictionary to access each employee name and salary
    if salary>highest_salary:
        #Check if the salary is greater than the stored highest salary
        highest_salary=salary
        #Update highest_salary with the crrent salary if it is greater
        highest_employee=name
        #Update highest_employee with the corresponding employee name
print("Highest Salary:",highest_employee,"-",highest_salary)
#Print the employee who has the salary along with the salary amount

Highest Salary: Ravi - 75000

In [36]:
#PROBLME3: Find Maximum and Minimum Values
numbers=[45,22,89,10,66]
#List of integers
max_value=numbers[0]
min_value=numbers[0]
#Initialize max and min with the first element of the list
for num in numbers[1:]:
    #Loop thorugh the list starting from the second element
    if num>max_value:
        max_value=num
        #if the current number is less than min_value,update min_value
    if num<min_value:
        min_value=num
        #if current number is less than min_value,update min_value
print("List:",numbers)
#display the original list
print("Max:",max_value)
#display the maximum value
print("Min:",min_value)
#display the minimum value

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [37]:
#PROBLEM 4:Count Products Above a Price Threshold
#List of product prices
prices=[450,1200,899,1500,300]
#initialize a counter to track products above 100
count=0
#Loop through each price in the list
for price in prices:
    #check if the price is greater than 1000
    if price>1000:
        count+=1 #increment the counter if condition is true
 #print the final count
print("Products above 1000:",count)

Products above 1000: 2

In [38]:
#PROBLEM 5: Calculate Attendence Percentage
#list representing attendence record
attendence=["P","P","A","P","P"]
#count total no of days
total_days=len(attendence)
#initialize present counter
present_count=0
#loop through attendence list
for status in attendence:
    #check if the student was present
    if status=="P":
        present_count+=1 #increase present count
    #calculate attendence percentage
attendence_percentage=(present_count/total_days)*100
#print the result
print("Attendence Percentage:",attendence_percentage)

Attendence Percentage: 80.0

In [39]:
#PROBLEM 6:Remove Duplicate Phone Numbers
#list of phone numbers
phone_numbers=[9876543210,9123456789,9876543210]
#convert list to set to remove duplicates values
unique_numbers=set(phone_numbers)
#print the unique phone numbers
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [41]:
#PROBLEM 7:Count Character Frequency
#given string
text="pythonp"
#create an empty dictionary to store character counts
char_count={}
#loop thorugh each character in the string
for ch in text:
    #if character already exists in dictionary,increment its count
    if ch in char_count:
        char_count[ch]+=1
    else:
        #if character is seen for the first time,initialize count s 1
        char_count[ch]=1
#print the character frequency dictionary
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [42]:
#PROBLEM 8: Convert List to Tuple
#given list
numbers=[10,20,30]
#convert list to tuple using tuple() function
numbers_tuple=tuple(numbers)
#print the tuple
print("Tuple:",numbers_tuple)

Tuple: (10, 20, 30)

In [43]:
#PROBLEM 9:Check if a Key exists in a dictionary
#dictionary of employees
employees={"Ravi": 75000,"Anitha": 68000,"Kiran":7200}
#key to check
key_to_check="Ravi"
#check if the key exists in the dictionary
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [44]:
#PROBLEM 10:Calculate Average Marks
#list od student marks
marks=[70,75,80,65] #example marks
#calculate total marks using sum()
total=sum(marks)
#calculate no of subjetcs using len()
count=len(marks)
#calculate averahe
average=total/count
#print the result
print("Average Marks:",average)

Average Marks: 72.5